{% extends 'base.html.twig' %}

{% block title %}Game Of Thrones !{% endblock %}

{% block body %}
<main>
        <div class="wrapper">
                
   <ul class="characters-list">
        {% for character in allCharacters %}
            <li class="character-card">
                <a href="{{ path('app_home_show', {'index' : character.id }) }}">     
                    <div class="avatar" style="background: #e3e3e3;">
                        <img src="{{ asset('img/' ~ character.image) }}" alt="{{ character.firstName }}">
                    </div>
                    <div class="name">
                        {{ character.firstName }} {{ character.lastName }} 
                    </div>
                </a>
            </li>
         {% endfor %}
           
          
    </ul>        </div>
    </main>
{% endblock %}
