{% extends 'base.html.twig' %}

{% block title %}{{ theCharacter.firstName }} {{ theCharacter.lastName }}{% endblock %}

{% block body %}
<main>
        <div class="wrapper">
               <section class="character-page">
       <div class="col-8">
            <h2>{{ theCharacter.firstName }} {{ theCharacter.lastName }}</h2>
            <div class="bio">
                <h3>Biographie</h3>
                <p> {{ theCharacter.biography }} </p>
            </div>
        </div>
        <div class="col-4">
            <div class="avatar" style="background: #e3e3e3;">
                <img src="{{ asset('img/' ~ theCharacter.image) }}" alt="{{ theCharacter.firstName }}">
            </div>
            <div class="infos">
                <h3>Maisons</h3>
                <div class="houses">
                    <ul>
                            {% for house in theCharacter.houses %}
                                                    <li class="house-logo" style="background: #{{ house.colour }};">
                                <a href="#/house/1">
                                    <img src="{{ asset('img/houses/' ~ house.image) }}" alt="{{house.name}}">
                                </a>
                            </li>
                            {% endfor %}
                                
                                            </ul>
                </div>
                <ul class="meta">
                    <li><span>Rang : </span> {{theCharacter.title.name}}
                                                    
                                                     </li>
                    
                    <li><span>Mère : </span> 
                                                    {% dump(theCharacter.mother)%}    
                                                       
                                                    Non renseigné                  
                                            </li>
                                           
                    <li><span>Père : </span> 
                                                    Non renseigné                            
                                            </li>
                </ul>
            </div>
        </div>
   </section>
        </div>
    </main>
{% endblock %}