{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
    <label for="exampleFormControlSelect1" >Mother</label>

        <select  class="form-control" id="exampleFormControlSelect1" >
            <option value=""></option>
            {% for character in allCharacters %}
            <option value="{{ character.firstName }} {{ character.lastName }}">{{ character.firstName }} {{ character.lastName }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
    <label for="exampleFormControlSelect1" >Father</label>

        <select  class="form-control" id="exampleFormControlSelect1" >
            <option value=""></option>
            {% for character in allCharacters %}
            <option value="{{ character.firstName }} {{ character.lastName }}">{{ character.firstName }} {{ character.lastName }}</option>
            {% endfor %}
        </select>
    </div>
    <br>
    <button class="btn btn-outline-light">{{ button_label|default('Save') }}</button>
    <br>
    <br>
{{ form_end(form) }}
