{% extends 'base.html.twig' %}

{% block title %}Title index{% endblock %}

{% block body %}
    <h1>Title index</h1>
<div class="wrapper-form" style="background: rgb(9, 163, 150);">
<a class="btn btn-outline-light" href="{{ path('app_backoffice_title_new') }}">Create new</a>
    <table class="table">

        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for title in titles %}
            <tr>
                <td>{{ title.id }}</td>
                
                <td>{{ title.name }}</td>
                <td>
                    <a class="btn btn-outline-light" href="{{ path('app_backoffice_title_show', {'id': title.id}) }}">show</a>
                  
                
                    <a class="btn btn-outline-light" href="{{ path('app_backoffice_title_edit', {'id': title.id}) }}">edit</a>
                    {% if is_granted("ROLE_ADMIN")%}
                    {{ include('backoffice/title/_delete_form.html.twig') }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
